.header__container {
  display: flex;
  width: 210px;
  align-items: center;
  margin: 20px;
  user-select: none;
  cursor: pointer;
}

.header__text {
  font-family: "Raleway Semibold";
  color: black;
  width: 8ch;
  margin: 0;
  margin-right: -4px;
  font-size: 2em;
  border-right: solid 4px #b22222;
  overflow: hidden;
  white-space: nowrap;
  animation: printer 1.2s step-end infinite, start-print 5s steps(8);
}

.header__logo {
	width: 2em;
	height: 2em;
	padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
}

@keyframes printer {
  0% {
    border-color: #b22222;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: #b22222;
  }
}

@keyframes start-print {
  0% {
    width: 0;
    color: #b22222;
  }
}
