.new-book__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.new-book__list-container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 16px;
}

.new-book__button {
  border: none;
  height: 40px;
  width: 20%;
  margin-top: 30px;
  padding: 0;
  font-family: "Raleway SemiBold";
  transition: 0.3s ease;
  font-size: 17px;
  background-color: #b22222;
  opacity: 0.8;
  color: white;
}

.new-book__button:hover {
  transition: 0.3s ease;
  cursor: pointer;
  background-color: #8b0000;
  transform: scale(1.05);
}
