.not-found {
  margin: 30px auto;
  width: 270px;
  height: 270px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 5%);
  display: none;
  border-radius: 15px;
}

.not-found_opened {
  display: flex;
}

.not-found__image {
  width: 96px;
  height: 96px;
  margin: 30px auto 32px;
}

.not-found__title {
  margin: 0 auto 16px;
  font-family: "Raleway Semibold";
  font-size: 22px;
  line-height: 30px;
  color: rgba(26, 27, 34, 1);
}

.not-found__subtitle {
  max-width: 250px;
  margin: 0 auto 30px;
  font-family: "Raleway";
  font-size: 17px;
  line-height: 24px;
  color: rgba(182, 188, 191, 1);
  text-align: center;
}
