.preloader {
	display: none;
    margin: 30px auto 0;
    width: 250px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 5%);
    border-radius: 15px;
	transform: scale(0.5);
	transition: 2s;
	opacity: 0;
}

/* .preloader_opened {
  display: flex;

} */

.preloader.preloader_opened {
	display: flex;
	transform: scale(1.0);
	opacity: 1;
	
}

.preloader__circle {
  display: block;
  width: 60px;
  height: 60px;
  border: 6px solid #b22222;
  border-bottom-color: white;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

.preloader__text {
  vertical-align: bottom;
  font-family: "Raleway Semibold";
  font-size: 18px;
  line-height: 24px;
  color: black
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
