.search-form {
  font-family: Raleway;
  color: white;
  overflow: hidden;
  position: relative;
  height: 300px;
}

.search-form__background {
  background-image: url(../images/books-1245690_1920.jpg);
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-out;
  filter: blur(2px);
}

.search-form__background:hover {
  filter: blur(10px);
  transition: 0.3s ease-out;
  transform: scale(1.5);
}

.search-form:hover .search-form__background {
  filter: blur(10px);
  transition: 0.3s ease-out;
  transform: scale(1.5);
}

.search-form__title {
  font-size: 48px;
  margin: 0;
  font-family: "Raleway Semibold";
}

.search-form__subtitle {
  font-size: 21px;
  font-family: "Raleway";
  margin-top: 0;
}
.search-form__text-logo {
	color:black;
	background-color: white;
	opacity: 0.8;
  }


.search-form__form {
  position: relative;
  bottom: 250px;
  width: 600px;
  margin: auto;
}

.search-form__container {
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 15px;
}

.search-form__input {
  width: 75%;
  border: none;
  height: 60px;
  outline: none;
  padding: 0;
  padding-left: 20px;
  font-size: 16px;
}

.search-form__input:focus::placeholder {
  color: transparent;
}

.search-form__button {
  border: none;
  height: 60px;
  padding: 0;
  width: 25%;
  font-family: "Raleway SemiBold";
  transition: 0.3s ease;
  font-size: 17px;
  background-color: #b22222;
  opacity: 0.8;
  color: white;
}

.search-form__button:hover {
  transition: 0.3s ease;
  cursor: pointer;
  background-color: #8b0000;
}

.search-form__results-numb {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Raleway";
}
